# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\abrah\iCloudDrive\Documentos\Estudio\Universidad\Cuarto semestre\Estructuras de datos\Scraping-Pc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
